[submodule "verilog/rtl/qspim"]
	path = verilog/rtl/qspim
	url = https://github.com/dineshannayya/qspim.git
[submodule "verilog/dv/common/riscduino_firmware"]
	path = verilog/dv/common/riscduino_firmware
	url = https://github.com/dineshannayya/riscduino_firmware
